@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&display=swap');

header{
    background: linear-gradient(90deg, #2f3fbf 0%, #1b246d 45%, #140f3d 100%);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,0.08);
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

header h1{
    line-height: 200%;
    margin: 0;
    color: white;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
}

main{
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px;
}

body{
    background-color:#FFFFFF;
    font-family: "Open Sans", sans-serif;
    margin: 0;
}

nav{
    font-weight:bold;
    background-color: #333399;
    text-align: center;
    line-height: 200%;
    border-top: 3px solid #6666cc;
    border-bottom: 3px solid #6666cc;
}

h1,h2,h3{
    font-family:"Play", sans-serif;
    color: #333399;
}

h1{
    font-size: 3.5em;
    margin: 0;
}

h2{
    border-bottom: 2px solid #1C2995;
    display: flex;
    padding: 5px;
    font-size: 2em;
    font-weight: 100;
}

h3{
    font-size: 1.7em;
}

footer{
    max-width: 1000px;
    margin: 30px auto;
    padding: 10px;
    font-style: italic;
    text-align: center;
}

.logo{
    max-width:100%;
    height: auto;
    padding-top: 15px;
}
.logo:hover{
    opacity: 0.8;
}

nav a{
    text-decoration: none;
}

.home-hero{
    background-image: url(images/hero-image.jpg);
    height: 300px;
    background-size: cover;
    background-position: top center;
}

.home-hero h1{
    color: white;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    padding-top: 115px;
    font-size: 3em;
    font-weight: normal;
    margin: 0;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

nav li{
    display: inline;
    padding: 10px;
}

nav a:link{
    color:white;
}

nav a:visited{
    color:white;
}

nav a:hover{
    color: #B6DCFF;
}

nav a:active{
    color:#B6DCFF;
}

.float-right{
    float: right;
    max-width: 40%;
    height: auto;
    background: #fff;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 30px;
}

.float-left{
    float: left;
    max-width: 40%;
    height: auto;
    background: #fff;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin: 30px;
}

.text-box {
    float: right;
  background-color: #1e2a8a; 
  color: #ffffff;
  padding: 18px 20px;
  border-radius: 6px;
  max-width: 420px;
  font-family: "Open Sans", sans-serif;
}

.text-box h2 {
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  margin: 0 0 10px 0;
  color: #ffffff;
}

a.button-design{
    color:white;
    border-radius: 3px;
    text-decoration: none;
    padding: 8px 25px;
    font-weight: bold;
}

a.button-design:link{
    background-color: #1C2995;
}

a.button-design:hover{
    background-color: #E8133B;
}

@media only screen and (max-width: 1024px){
/*The CSS will work ONLY IF the screen size is less than 1024px (tablets and smartphones) */
    h1{
        font-size: 2.5em;
    }
    h2{
        font-size: 1.5em;
    }
	 h3{
        font-size: 1.3em;
     }
    main,
    footer{
        width: 90%;
    }

}
@media only screen and (max-width: 768px){
/*The CSS will work ONLY IF the screen size is less than 768px (smartphones only) */

    h1{
        font-size: 2em;
    }
    .home-hero{
        height: 125px;
    }
    .home-hero h1{
        height: 125px;
        font-size: 1.5em;
        padding-top: 45px;
    }

    .float-right,
    .float-left{
        display:none;
    }

    .text-box{
        float: none;
        max-width: 100%;
        display: block;
    }

    nav ul{
        padding: 0;
        margin: 0;
    }

    nav li{
        display: block;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-left: 1em;
        padding-right: 1em;
        border-bottom: solid, width=1px, color=gray;
    }
}
